*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 40px;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  background: #eee;
}

button {
  font-family: inherit;
  font-size: inherit;
}

.app {
  text-align: left;
  display: inline-block;
}

.people {
  background: white;
}

.person {
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
  padding: 14px;
}

.person + .person {
  border-top: 1px solid #eee;
}

.person > * {
  display: inline-block;
  vertical-align: middle;
}

.person__name {
  flex: 1;
}

.points--updating {
  color: #aaa;
}

.points > * {
  display: inline-block;
  vertical-align: middle;
}

.points__count {
  display: inline-block;
  text-align: center;
  width: 40px;
}

.points-button {
  display: inline-block;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background: gray;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;
  padding-top: 2px;
}

.points-button:focus {
  outline: none;
}

.points-button::after {
  content: '';
  position: absolute;
  background: white;
  top: 8px;
  left: 15px;
  height: 19px;
  width: 4px;
}

.points-button span {
  position: absolute;
  transform: rotate(45deg);
  top: 6px;
  left: 17px;
}

.points-button span:before,
.points-button span:after {
  content: '';
  position: absolute;
  background: white;
  height: 4px;
  width: 16px;
  top: 0;
  left: 0;
}

.points-button span:after {
  width: 4px;
  height: 16px;
}

.points-button--dec {
  transform: rotate(180deg);
}

.others {
  text-align: center;
  padding: 20px 0;
}
